* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit; }

html, body {
  font-size: 62.5%;
  font-family: 'Bebas Neue', cursive;
  position: relative; }

.header {
  width: 100%;
  color: rgba(255, 255, 255, 0.747);
  font-size: 2rem;
  text-align: center;
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center; }
  .header--signs {
    color: white;
    font-size: 2.5rem; }
    .header--signs::after {
      content: " "; }
  .header_month {
    text-transform: capitalize;
    padding: 2rem 0;
    letter-spacing: 1rem; }
    .header_month--month, .header_month--year {
      font-size: 4rem; }
  .header_total {
    font-size: 5rem;
    padding: 2rem;
    letter-spacing: 1.5rem;
    color: white; }
  .header_earnings, .header_expenses {
    display: inline-block;
    padding: 1rem 2rem;
    letter-spacing: .3rem;
    margin: 2rem; }
    .header_earnings--text, .header_expenses--text {
      padding-right: 2rem; }
    .header_earnings--amount, .header_expenses--amount {
      color: white; }
  .header_earnings {
    background: rgba(172, 255, 47, 0.5); }
  .header_expenses {
    background: rgba(255, 0, 0, 0.5); }
  .header_expenses--percent {
    display: inline-block;
    background: blue;
    width: 3rem;
    height: 2rem;
    margin-left: 1rem; }

.adder {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  overflow: hidden;
  background-color: grey; }
  .adder_gridbox {
    float: left; }
    .adder_gridbox:first-child {
      margin-left: 25%; }
    .adder_gridbox:not(:last-child) {
      margin-right: 3rem; }
  .adder_dropbox--type {
    border-radius: 1rem;
    border: none;
    font-size: 3rem;
    padding: 0 1.2rem;
    color: rgba(0, 0, 0, 0.726);
    width: 6rem;
    height: 4rem; }
  .adder_description, .adder_value {
    outline: none; }
    .adder_description--input, .adder_value--input {
      height: 4rem;
      width: 30rem;
      padding: 1rem;
      border-radius: 1rem;
      letter-spacing: .4rem;
      font-size: 2rem;
      border: none; }
      .adder_description--input::placeholder, .adder_value--input::placeholder {
        letter-spacing: .4rem;
        color: rgba(0, 0, 0, 0.726);
        font-size: 1.5rem; }
      .adder_description--input:focus, .adder_value--input:focus {
        outline: none; }
  .adder_button {
    color: white;
    font-size: 1.8rem;
    letter-spacing: .4rem;
    padding: .5rem 2rem;
    border: .3rem solid white;
    border-radius: 1rem;
    cursor: pointer; }

.descriptor {
  padding: 5rem;
  text-align: center; }
  .descriptor-gridbox {
    float: left;
    width: calc((100% - 20rem)/2); }
    .descriptor-gridbox:not(:last-child) {
      margin-right: 20rem; }
  .descriptor_earnings--heading, .descriptor_expenses--heading {
    font-size: 3rem;
    padding-bottom: 2rem;
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.5); }
  .descriptor_earnings {
    color: yellowgreen; }
  .descriptor_expenses {
    color: rgba(255, 0, 0, 0.5); }

.descriptor_earnings--lists, .descriptor_expenses--lists {
  list-style: none;
  font-size: 2.5rem; }
  .descriptor_earnings--lists > li, .descriptor_expenses--lists > li {
    color: black;
    padding: 1rem;
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.5); }
    .descriptor_earnings--lists > li:nth-of-type(2), .descriptor_expenses--lists > li:nth-of-type(2) {
      background-color: rgba(180, 180, 224, 0.2); }
    .descriptor_earnings--lists > li:nth-of-type(1), .descriptor_expenses--lists > li:nth-of-type(1) {
      background-color: rgba(218, 142, 142, 0.2); }

.descriptor_earnings--lists .descript-price {
  color: yellowgreen; }

.descriptor_expenses--lists .descript-price {
  color: rgba(255, 0, 0, 0.5); }

.descript {
  display: block;
  position: relative; }
  .descript::after {
    content: '';
    clear: both;
    display: table; }
  .descript-text {
    float: left; }
  .descript-price {
    float: right; }
  .descript-delete {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem;
    visibility: hidden;
    border-radius: 1rem;
    cursor: pointer; }
  .descript:hover .descript-price {
    transition: all 1s;
    transform: translateX(-10rem); }
  .descript:hover .descript-delete {
    transition: all 1s 1s;
    visibility: visible;
    background-color: rgba(255, 69, 0, 0.6);
    color: #fff; }
