*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: inherit;
}

html,body{
    font-size: 62.5%;
    font-family: 'Bebas Neue', cursive;
    position: relative;
}

.header{
    width: 100%;
    color:rgba(255, 255, 255, 0.747);
    font-size:2rem;
    text-align: center;
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center;

    &--signs{
        color:white;
        font-size: 2.5rem;
        &::after{
            content: " ";
        }
    }

    &_month{
        text-transform: capitalize;
        padding:2rem 0;
        letter-spacing: 1rem;
        &--month,&--year{
            font-size:4rem;
        }
    }

    &_total{
        font-size: 5rem;
        padding:2rem;
        letter-spacing: 1.5rem;
        color:white;
    }

    &_earnings,&_expenses{
        display: inline-block;
        padding:1rem 2rem;
        letter-spacing: .3rem;
        margin:2rem;
        &--text{
            padding-right:2rem;
        }

        &--amount{
            color: white;
        }
    }

    &_earnings{
        background:rgba(172, 255, 47, 0.5);
    }

    &_expenses{
        background:rgba(red,.5);
    }

    &_expenses--percent{
        display: inline-block;
        background:blue;
        width: 3rem;
        height: 2rem;
        margin-left:1rem;
    }
}

.adder{
    width:100%;
    text-align: center;
    padding:3rem 0;
    overflow: hidden;
    background-color: grey;

    &_gridbox{
        float: left;
        

        &:first-child{
            margin-left:25%;
        }
        &:not(:last-child){
            margin-right:3rem;
        }
    }

    &_dropbox{
        &--type{
            border-radius: 1rem;
            border: none;
            font-size:3rem;
            padding: 0 1.2rem;
            color: rgba(0, 0, 0, 0.726);
            width: 6rem;
            height: 4rem;
        }
    }

    &_description,&_value{
        outline: none;
        &--input{
            height: 4rem;
            width: 30rem;
            padding:1rem;
            border-radius: 1rem;
            letter-spacing: .4rem;
            font-size: 2rem;
            border: none;
            &::placeholder{
                letter-spacing: .4rem;
                color: rgba(0, 0, 0, 0.726);
                font-size: 1.5rem;
            }
            &:focus{
                outline: none;
            }
        }
    }
    &_button{
        color: white;
        font-size: 1.8rem;
        letter-spacing: .4rem;
        padding: .5rem 2rem;
        border:.3rem solid white;  
        border-radius: 1rem;
        cursor: pointer;
    }
}

.descriptor{

    padding:5rem;
    text-align: center;
    &-gridbox{
        float:left;
        width: calc((100% - 20rem)/2);
        &:not(:last-child){
            margin-right: 20rem;
        }
    }
    &_earnings,&_expenses{
        &--heading{
            font-size:3rem;
            padding-bottom: 2rem;
            border-bottom: .3rem solid rgba(black,.5);
        }
    }
    &_earnings{
        color:yellowgreen;
    }

    &_expenses{
        color:rgba(red,.5);
    }
}

.descriptor_earnings--lists,.descriptor_expenses--lists{
    list-style: none;
    font-size: 2.5rem;

    & > li {
        color:black;
        padding:1rem;
        border-bottom: .3rem solid rgba(black,.5);


        &:nth-of-type(2){
            background-color: rgba(rgb(180, 180, 224),.2);
        }

        &:nth-of-type(1){
            background-color: rgba(rgb(218, 142, 142),.2);
        }
    }
}

.descriptor_earnings--lists{
    & .descript-price{
        color:yellowgreen;
    }
}

.descriptor_expenses--lists{
    & .descript-price{
        color:rgba(red,.5);
    }
}

.descript{
    display: block;
    position: relative;

    &::after{
        content: '';
        clear:both;
        display: table;
    }

    &-text{
        float: left;
    }

    &-price{
        float: right;
    }

    &-delete{
        color:#fff;
        position: absolute;
        right: 0;
        bottom:0;
        padding:1rem 2rem;
        visibility: hidden;
        border-radius: 1rem;
        cursor: pointer;
    }

    &:hover{
        .descript-price{
            transition: all 1s;
            transform: translateX(-10rem);
        }
        .descript-delete{
            transition: all 1s 1s;
            visibility: visible;
            background-color:rgba(orangered,.6);
            color:#fff;
        }
    }
}
